
@{
    ViewBag.Title = "AboutPAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/aboutus.css" rel="stylesheet" />



    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="banner1">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="boxs1">
                        <h1>ABOUT US</h1>
                        <p class="texts">An online auction (or also electronic auction or e-auction or eAuction) is an auction which is held over the internet.[1][2][3] Like auctions in general, online auctions come in a variety of types like ascending English auctions, descending Dutch auctions, first-price sealed-bid, Vickrey auctions and others, which are sometimes not mutually exclusive.[4]

The scope and reach of these auctions have been propelled by the Internet to a level beyond what the initial purveyors had anticipated.[5] This is mainly because online auctions break down and remove the physical limitations of traditional auctions such as geography, presence, time, space, and a small target audience.[5] This influx in reachability has also made it easier to commit unlawful actions within an auction.[6] In 2002, online auctions were projected to account for 30% of all online e-commerce due to the rapid expansion of the popularity of the form of electronic commerce.[7] Online auctions include business to business (B2B), business to consumer (B2C), and consumer to consumer (C2C) auctions.[8]</p>
                    </div>
                </div>

                <div class="overlay1"></div>
                <img src="~/images/auctions.jpg" class="fitbg1" alt="">

               

            </div>

        </div>


    </div>



