@model IEnumerable<eBidWEBSITE.Models.tblBid>
@{
    ViewBag.Title = "PRODUCTPAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Shop Grid</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->



<section class="midium-banner">
    <div class="container">
        <div class="row">
            <!-- Single Banner  -->
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner butFrame" onclick="window.location='#'">


                    <div class="butTextWrap">


                    </div>
                    <img src="~/images/ibid_coins_banner2.jpg" alt="#" style="height:250px;">
                    <div class="content">
                        <p>Coins Collectons</p>
                        <h3 style="color:#fff;">Coins<br> up to <span>10%</span></h3>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
           
            <!-- Single Banner  -->
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner butFrame" onclick="window.location='#'">


                    <div class="butTextWrap">


                    </div>
                    <img src="~/images/ibid_art_banner1.jpg" style="height:250px;" alt="#">
                    <div class="content">
                        <p>Art Collectons</p>
                        <h3 style="color:#fff;">Art Gallery<br> up to <span>70%</span></h3>
                        <a href="#" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
        </div>
        <br> 
    </div>
</section>










<section class="midium-banner">
    <div class="container">
        <div class="row">
            <!-- Single Banner  -->
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner butFrame" onclick="window.location='#'">


                    <div class="butTextWrap">


                    </div>
                    <img src="~/images/Militaria-banner1-1024x481.jpg" alt="#" style="height:250px;">
                    <div class="content">
                        <p>Militaria Collectons</p>
                        <h3 style="color:#fff;">Militaria<br> up to <span>10%</span></h3>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner butFrame" onclick="window.location='#'">


                    <div class="butTextWrap">


                    </div>
                    <img src="~/images/ibid_vintage_banner2-1024x594.png" style="height:250px;" alt="#">
                    <div class="content">
                        <p>Jewelery Collectons</p>
                        <h3 style="color:#fff;">Authentic Jewelery<br> up to <span>70%</span></h3>
                        <a href="#" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
        </div>
    </div>
</section>

















<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Categories</h3>
                        <ul class="categor-list">
                            <li><a href="#">Coins</a></li>
                            <li><a href="#">Art Gallery</a></li>
                            <li><a href="#">Militaria</a></li>
                            <li><a href="#"></a>Antique</li>
                            
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Shop By Price -->
                    <div class="single-widget range">
                        <h3 class="title">Shop by Price</h3>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="check-box-list">
                            <li>
                                <label class="checkbox-inline" for="1"><input name="news" id="1" type="checkbox">$20 - $50<span class="count">(3)</span></label>
                            </li>
                            <li>
                                <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">$50 - $100<span class="count">(5)</span></label>
                            </li>
                            <li>
                                <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox">$100 - $250<span class="count">(8)</span></label>
                            </li>
                        </ul>
                    </div>
                    <!--/ End Shop By Price -->
                   
                    <!--/ End Single Widget -->
                   
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="row">
                    <div class="col-12">
                        <!-- Shop Top -->
                        <div class="shop-top">
                            <div class="shop-shorter">
                                <div class="single-shorter">
                                    <label>Show :</label>
                                    <select>
                                        <option selected="selected">09</option>
                                        <option>15</option>
                                        <option>25</option>
                                        <option>30</option>
                                    </select>
                                </div>
                                <div class="single-shorter">
                                    <label>Sort By :</label>
                                    <select>
                                        <option selected="selected">Name</option>
                                        <option>Price</option>
                                        <option>Size</option>
                                    </select>
                                </div>
                            </div>
                            <ul class="view-mode">
                                <li class="active"><a href="shop-grid.html"><i class="fa fa-th-large"></i></a></li>
                                <li><a href="shop-list.html"><i class="fa fa-th-list"></i></a></li>
                            </ul>
                        </div>
                        <!--/ End Shop Top -->
                    </div>
                </div>



                <div class="row">

               
@foreach (var item in Model)
{


                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/bidsUploads/@item.bid_Image" alt="#" style="height:350px; width: 285px;">
                                    
                                </a>




                                <div class="cown-down1">

                                    <div class="content">

                                        <div class="coming-time">

                                            <div class="clearfix" data-countdown="@item.bid_endTime"></div>
                                        </div>
                                    </div>
                                </div>



                                <div class="button-head">
                                    <div class="product-action">
      
                                        <a href="@Url.Action("AddtoCart","Home",new { id = @item.BidID })"><i class=" ti-eye"></i><span> View</span></a>
                                       
                                    </div>
                                    <div class="product-action-2">
                                        <a title="Add to cart" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a>@item.bid_Name</a></h3>
                                <div class="product-price">
                                    <span>$@item.bid_MINamount</span>
                                </div>
                            </div>
                        </div>
                    </div>


}





                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->


<style>
    .cown-down1 {
        position: relative;
        height: 100px;
        overflow: hidden;
    }



        .cown-down1 .padding-left {
            padding-left: 0;
        }



        .cown-down1 .content {
            text-align: center;
            background: #ffffff;
            height: 60%;
            position: relative;
        }

            .cown-down1 .content .heading-block {
                position: absolute;
                left: 0;
                padding: 35px;
            }

            .cown-down1 .content .small-title {
                font-size: 13px;
                color: #777;
                display: block;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-weight: 600;
            }





            .cown-down1 .content .cdown {
                float: none;
                text-align: center;
                margin-top: 10px;
                width: 70px;
                display: inline-block;
                z-index: 1;
            }


            .cown-down1 .content .cdown {
                display: inline-block;
                width: 50px;
            }





                .cown-down1 .content .cdown span {
                    color: rgba(87, 85, 85, 0.88);
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .cown-down1 .content .cdown p {
                    font-size: 8px;
                    color: rgba(87, 85, 85, 0.88);
                    text-transform: uppercase;
                }
</style>