
@{
    ViewBag.Title = "SINGLEPAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<!DOCTYPE html>
<html lang="en">


<!-- molla/product-sticky.html  22 Nov 2019 10:03:29 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/Content/detailpage/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/detailpage/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/detailpage/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/detailpage/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/Content/detailpage/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/detailpage/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>


























































    <script src="~/Content/detailpage/assets/js/jquery.min.js"></script>
    <script src="~/Content/detailpage/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/detailpage/assets/js/superfish.min.js"></script>
    <script src="~/Content/detailpage/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/detailpage/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.plugin.min.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="~/Content/detailpage/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/detailpage/assets/js/jquery.sticky-kit.min.js"></script>
    <!-- Main JS File -->
    <script src="~/Content/detailpage/assets/js/main.js"></script>
</body>


<!-- molla/product-sticky.html  22 Nov 2019 10:03:32 GMT -->
</html>