@model eBidWEBSITE.Models.tblBid
@{
    ViewBag.Title = "AddtoCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}











@using (Html.BeginForm())
{

    <div class="card-wrapper">
        <div class="card" style="min-width:900px; min-height:600px;">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="~/bidsUploads/@Model.bid_Image" style="height:250px;width:50%" />

                    </div>
                </div>

            </div>
            <!-- card right -->
            <div class="product-content">
                <h2 class="product-title">@Model.bid_Name</h2>


                <div class="product-price">

                    <p class="new-price">Price per Unit: <span>$@Model.bid_MINamount </span></p>
                </div>
                <div class="product-detail">
                    <h2>Detail: </h2>
                    <p>@Model.bid_Description</p>
                   

                </div>


                <div class="cown-down1">

                    <div class="content">

                        <div class="coming-time">

                            <div class="clearfix" data-countdown="2022/02/30"></div>
                        </div>
                    </div>
                </div>

            

                       
                           
                        
                 


                        <div class="purchase-info">
                            <input type="number" min="@Model.bid_MINamount" value="@Model.bid_MINamount" max="" name="bidding" class="quantity-input" data-quantity-target="" />




                            <button type="submit" value="Add to Cart" class="btn" style="min-width:60px;">

                                Add to Cart <i class="fa-solid fa-gavel"></i>
                            </button>

                        </div>

                    </div>
                </div>
            </div>


}


<style>
    .cown-down1 {
        position: relative;
        height: 100px;
        overflow: hidden;
    }

       

        .cown-down1 .padding-left {
            padding-left: 0;
        }

       

        .cown-down1 .content {
            text-align: center;
            background: #FDFBEF;
            height: 100%;
            position: relative;
        }

            .cown-down1 .content .heading-block {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                padding: 75px;
            }

            .cown-down1 .content .small-title {
                font-size: 13px;
                color: #777;
                display: block;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-weight: 600;
            }

            .cown-down1 .content .title {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 20px;
                text-transform: capitalize;
            }

            .cown-down1 .content .price {
                margin-top: 35px;
                font-size: 35px;
                font-weight: 700;
                color: #be263f;
            }

                .cown-down1 .content .price s {
                    margin-top: 35px;
                    font-size: 24px;
                    font-weight: 500;
                    color: #666;
                }

            .cown-down1 .content .cdown {
                float: left;
                text-align: center;
                margin-top: 40px;
                width: 80px;
                display: inline-block;
            }

          
            .cown-down1 .content .cdown {
                display: inline-block;
            }

                .cown-down1 .content .cdown span {
                    color: #333;
                    font-size: 22px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .cown-down1 .content .cdown p {
                    font-size: 13px;
                    color: #666;
                    text-transform: uppercase;
                }
</style>





            
            
        
   






















<link rel="stylesheet" href="~/css/font-awesome.css">
<link href="~/css/detailpage.css" rel="stylesheet" />











